body{
    background:
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        rgba(61, 10, 31, 0.7), 
      rgba(61, 10, 35, 0.7)
    ),
    /* bottom, image */
    url(img/bg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    font-family: Montserrat,'poppins'; 
    background-size: cover;
}

.btn{
    background-color: #00ff00;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
}
.h2, h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    /* margin-bottom: 30px; */
}

span{
    color:#00ff00;
}

img{
    width: 120%;
    height: auto;
}
#main, .container{
    height: inherit;
}

@media only screen and (max-width:767px) {
    #image-container{
        display: none;
    }
  
}