body{
    background:
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        rgba(70, 56, 26, 0.205), 
      rgba(70, 57, 29, 0.205)
    ),
    /* bottom, image */
    url(img/bg.png);
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(38, 8, 58);
    font-family: Montserrat,'poppins'; 
    background-size: cover;
}

.btn{
    background-color: #036454;
    color: rgb(253, 34, 5);
    font-size: 1.0625rem;
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
}

.h2, h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 30px; 
}

h3 {
    margin-bottom: 30px; 
}

h3, h5 {
    line-height: 26px;
}

span{
    color:#0b574a;
}

img{
    width: 120%;
    height: auto;
}
#main, .container{
    height: inherit;
}

@media only screen and (max-width:767px) {
    #image-container{
        display: none;
    }
  
}